body{
    background-color: #808080;
}
/*make nav buttons take up full height of navbar*/

.navbar{
    padding-top: 0;
    padding-bottom: 0;
    background: #B0C4DE!important;
}
.topnav{
    /*background-color: #B0C4DE;*/
    overflow: visible;
    display: block;
}

.topnav a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.25rem;
}

.topnav a:hover{
    background-color: #87CEFA;
    color: #363636 !important;
}
.topnav a.active{
    background-color: #87CEFA;
    color: #f2f2f2;
}
.fa-bars{
    color: #808080 !important;
    border: 20px;
}

/*home page images*/
#LightboxHeading{
    display: none;
}
section div a{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 15px;
    /*margin: 0 auto;*/
    /*text-align: center;*/
}

/*a[href*='index']{
    float:left;
}*/
a[href*='#top']{
    /*float:right;*/
   position: fixed;
   right: 0;
   bottom: 0;
   margin: 2%;
}

h2 ,p{
    padding-left: 5px;
}

.fab,.fas{
    color: #B0C4DE;
    font-size: 2rem;
    padding: 2px;
}

.fab:hover,.fas:hover{
    color: #87CEFA;
}

footer nav{
    margin: 1%;
}

.dropdown{
    display: inline-block;
    border-color: #B0C4DE !important;
}
.dropdown:active, .dropdown:visited, .dropdown:focus{
    background-color: #87CEFA;
}
.dropdown:focus{
    color: red;
    background-color: red;
    border-color: red;
}
.btn, .btn:visited, .btn:focus{
    /*color: #f2f2f2;*/
    background-color: #B0C4DE;
    border-color: #B0C4DE;
}
.btn:hover{
    color: #f2f2f2;
    background-color: #87CEFA;
    border-color: #87CEFA;
}
.dropdown-menu{
    background-color: #B0C4DE;
    border: none;
}
.dropdown-item{
    color: #6c757d !important;
    background-color: #B0C4DE;
}
.dropdown-item:hover{
    color: #f2f2f2;
    background-color: #87CEFA;
}
/*.active{
    color: red;
    background: red;
}*/

/*social media links*/
#socialListTitle{
    display: none;
}
#socialList{
    text-align: right;
    padding-right: 20px;
    font-size: 1.25rem;
    text-decoration: none;
    font-family: arial, Georgia;
    font-weight: bold;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}
#socialList ul li{list-style-type:none; padding-bottom:10px;}
#socialList ul li a{
    color: black;
}
#socialList ul li a:hover{
    text-decoration: none;
    color: #87CEFA;
    font-size: 1.35rem;
}
#socialList ul li a:active{
    text-decoration: none;
    color: #87CEFA;
    font-size: 1.45rem;
}
/*end social media links*/


/*progress bars*/
/*reset appearance*/
progress[value]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*remove Firefox default border*/
    border: none;
    /*dimensions*/
    width:250px;
    height: 15px;
    /*For IE10*/
  color: blue; 
}
progress[value]::-webkit-progress-bar{
    background-color: #B0C4DE;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value{
    background-image: 
    -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(right, #87CEFA, #f44);
	   border-radius: 2px;
	   background-size: 35px 20px, 100% 100%, 100% 100%;
}
/*progress for Firefox*/
progress[value]::-moz-progress-bar { 
  background-image:
    -moz-linear-gradient(
      135deg, 
      transparent 33%, 
      rgba(0, 0, 0, 0.1) 33%, 
      rgba(0, 0, 0, 0.1) 66%, 
      transparent 66% 
    ),
    -moz-linear-gradient(
      top, 
      rgba(255, 255, 255, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    -moz-linear-gradient(
      left, 
      #09c, 
      #f44
    );
  border-radius: 2px; 
  background-size: 35px 20px, 100% 100%, 100% 100%; 
}
/*end progress bars*/

/*feedback form*/
#feedbackFormTitle{
    display: none;
}
form{
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 10px;  
}
input[id=name], input[id=email], input[id=birthday]{
    display: block;
}
input[type=range]{
        display: block;
    }
input[type=checkbox], input[type=radio]{
    display: block;
    margin-left: 15px;
}
label[for=readable]{
    padding-left: 15px;
}
input[type=submit]{
    /*background: #B0C4DE;*/
    border-color: #B0C4DE;
    /*-webkit-border-radius: 5px;
    border-radius: 5px; */
    margin-left: 50%;
}
/*end feedback form*/


/*responsiveness*/
@media screen and (min-width: 1101px){
    section div{
        text-align: center;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    section div a{
        display: inline;
        width: 35%;
        padding: 5px 10px 15px;
    }
    /*social media page*/
    #socialList{
    text-align: right;
    width: 50%;
    font-size: 1.25rem;
    text-decoration: none;
    font-family: arial, Georgia;
    font-weight: bold;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    }
    /*feedback form*/
   form{
        margin-left: 200px;
        margin-right: 10px;
        padding-left: 200px;  
    }
    input[type=submit]{
        text-align: center;
        margin-left: 180px;
    }
    input[id=name], input[id=email], input[id=birthday]{
    display: inline-block;
    }
    input[type=range]{
        display: inline-block;
    }
    input[type=checkbox], input[type=radio]{
    display: inline-block;
    margin-left: 15px;
    }
    /*make radio and checkboxes single row*/
    input[type=radio]{}
}

@media screen and (min-width:600px) and (max-width:1100px){
    section div{
        text-align: center;
        /*width: 100%;*/
    }
    section div a{
        display: flex;
        max-width: 100%;
        width: 50%;
        height: auto;
        margin-bottom: 55px;
        /*padding: 5px 25px 15px;*/
    }
    section div a:nth-child(1),
    section div a:nth-child(3){
        float: left;
    }
    section div a:nth-child(2),
    section div a:nth-child(4){
        float: right;
    } 
    /*social media page*/
    #socialList{
    text-align: right;
    width: 55%;
    font-size: 1.25rem;
    text-decoration: none;
    font-family: arial, Georgia;
    font-weight: bold;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    }
    /*feedback form*/
    input[id=name], input[id=email], input[id=birthday]{
    display: inline-block;
    }
    input[type=checkbox], input[type=radio]{
    display: inline-block;
    margin-left: 15px;
    }
}

